/* GLOBAL STYLES */
html {
    font-size: 120%;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    background: #fff;
    font-family: 'Monda', sans-serif; 
    font-size: 1rem;
    line-height: 1.6rem;
}

ul,
h1,
h2,
h3 {
    font-family: 'Passion One', cursive;
    padding: 0;
}

h2 {
    font-size: 3.5rem;
    text-transform: uppercase;
}

h3 {
    font-size: 2.0rem;
    text-transform: capitalize;
}

img {
    width: 100%;
    object-fit: fill;
}

.wrapper {
    width: 1280px;
    margin: 0 auto;
}


section {
    height: 100vh;
}

main {
    padding: 40px 0 0;
    background-image: url(../assets/header.jpg);
    height: 100%;
    background-attachment: fixed;
    background-size: cover;
}  