article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

/* MIX INS */
/* FLEXBOX CENTERING */
/* GLOBAL STYLES */
html {
  font-size: 120%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background: #fff;
  font-family: 'Monda', sans-serif;
  font-size: 1rem;
  line-height: 1.6rem;
}

ul,
h1,
h2,
h3 {
  font-family: 'Passion One', cursive;
  padding: 0;
}

h2 {
  font-size: 3.5rem;
  text-transform: uppercase;
}

h3 {
  font-size: 2.0rem;
  text-transform: capitalize;
}

img {
  width: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}

.wrapper {
  width: 1280px;
  margin: 0 auto;
}

section {
  height: 100vh;
}

main {
  padding: 40px 0 0;
  background-image: url(../assets/header.jpg);
  height: 100%;
  background-attachment: fixed;
  background-size: cover;
}

/* HEADER STYLE */
.hero {
  background-image: url(../assets/header1.jpg);
  height: 100vh;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.spotifyContainer {
  position: fixed;
  top: 0;
  right: 0;
  background-color: #A40606;
  padding: 10px;
  -webkit-transition: 0.8s ease;
  transition: 0.8s ease;
  z-index: 999;
}

.spotifyContainer:hover {
  background-color: #1DB954;
}

.spotifyContainer a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-size: .75rem;
}

.mainTitle {
  color: #fff;
  font-size: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.mainTitle h1 {
  text-transform: uppercase;
  -webkit-transition: all 1s;
  transition: all 1s;
  color: #fff;
  -webkit-animation: neon 1.5s ease-in-out infinite alternate;
          animation: neon 1.5s ease-in-out infinite alternate;
}

.mainTitle h1:hover {
  color: #A40606;
  -webkit-animation: none;
  animation: none;
}

.descriptionTitle {
  line-height: 2rem;
  font-size: 2rem;
  text-transform: capitalize;
}

.startQuizBtn {
  padding: 10px 40px;
  background-color: #A40606;
  color: white;
  border: none;
  border-radius: 20px;
  text-decoration: none;
  font-size: 2.5rem;
}

.startQuizBtn:hover {
  color: #A40606;
  background-color: white;
}

/*  QUESTION STYLES */
.quiz {
  width: 60%;
  height: 92vh;
  margin: 0 auto;
  border: 9px solid #A40606;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: #fff;
  padding: 15px;
}

.quiz label {
  font-size: 1.2rem;
}

.questionContainer {
  width: 100%;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
}

.questionImg {
  margin: 0 auto;
}

.questionImg3 {
  width: 150px;
}

.submitButton {
  display: block;
  border: 3px solid #A40606;
  background-color: #fff;
  width: 150px;
  color: #A40606;
  border-radius: 20px;
  text-transform: uppercase;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  margin: 0 auto;
}

.submitButton:hover {
  background-color: #A40606;
  color: #fff;
}

.questionImg {
  width: 400px;
  border-radius: 20px;
  -o-object-fit: cover;
     object-fit: cover;
}

/* RESULT STYLE */
.result {
  background-image: url(../assets/results.jpg);
  height: 100vh;
  background-size: contain;
  color: #fff;
  padding: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.songTitleResult {
  font-size: 3rem;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}

/* ALBUM STYLES */
.checkAlbum {
  text-align: center;
  font-size: 2rem;
}

.main-carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.carousel-cell {
  width: calc(20% - 10px);
  margin: 5px;
  height: 200px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.carousel-cell:hover {
  scale: 1.1;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
}

.retakeQuiz {
  padding-top: 100px;
}

/* FOOTER STYLE */
footer {
  text-align: center;
  background-color: #A40606;
  color: #fff;
}

footer p {
  margin: 0;
  padding: 0;
}

/* MEDIA QUERIES */
@media (max-width: 1150px) {
  .wrapper {
    width: 100%;
  }
  h1 {
    font-size: 5rem;
  }
  .startQuizBtn {
    padding: 5px 10px;
    font-size: 2rem;
  }
  .songTitleResult {
    font-size: 3rem;
  }
}

@media (max-width: 950px) {
  .quiz {
    width: 100%;
  }
  .mainTitle h1 {
    font-size: 4rem;
  }
  .songTitleResult {
    font-size: 2.5rem;
    line-height: 3rem;
  }
}

@media (max-width: 775px) {
  .mainTitle h1 {
    font-size: 3rem;
    line-height: 3rem;
  }
  .mainTitle h2 {
    font-size: 1.6rem;
  }
  .main-carousel {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 450px) {
  .questionImg {
    width: 250px;
  }
  .carousel-cell {
    height: 75px;
    width: 75px;
  }
}

@media (max-height: 750px) {
  .questionImg {
    width: 200px;
  }
  .questionImg3 {
    width: 150px;
  }
}

@media (max-height: 600px) {
  .questionImg,
  .questionImg3 {
    display: none;
  }
}

@media (max-height: 500px) {
  .main-carousel,
  .carousel-cell {
    display: none;
  }
}
/*# sourceMappingURL=styles.css.map */