@import "../partials/setup";
@import "../partials/variables";
@import "../partials/global";
@import "../partials/header";

/*  QUESTION STYLES */

.quiz {
    width: 60%;
    height: 92vh;
    margin: 0 auto;
    border: 9px solid $primary-color;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fff;
    padding: 15px;

    label {
        font-size: 1.2rem;
    }
}

.questionContainer {
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.questionImg {
    margin: 0 auto;
}

.questionImg3 {
    width: 150px;
}

.submitButton {
    display: block;
    border: 3px solid $primary-color;
    background-color: #fff;
    width: 150px;
    color: $primary-color;
    border-radius: 20px;
    text-transform: uppercase;
    transition: 0.3s ease;
    margin: 0 auto;
    
    &:hover {
        background-color: $primary-color;
        color: #fff;
    }
}

.questionImg {
    width: 400px;
    border-radius: 20px;
    object-fit: cover;
}

/* RESULT STYLE */

.result {
    background-image: url(../assets/results.jpg);
    height: 100vh;
    background-size: contain;
    color: #fff;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
}

.songTitleResult {
    font-size: 3rem;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}

/* ALBUM STYLES */

.checkAlbum {
    text-align: center;
    font-size: 2rem;
}

.main-carousel {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.carousel-cell {
    width: calc(20% - 10px);
    margin: 5px;
    height: 200px;
    transition: 0.5s ease;

    &:hover {
        scale: (1.1);
        transform: translateY(-20px);
    } 
}

.retakeQuiz {
    padding-top: 100px;
}

/* FOOTER STYLE */
footer {
    text-align: center;
    background-color: $primary-color;
    color: #fff;

    p {
        margin: 0;
        padding: 0;
    }
}

/* MEDIA QUERIES */

@media (max-width: 1150px) {

    .wrapper {
        width: 100%;
    }

    h1 {
        font-size: 5rem;
    }

    .startQuizBtn {
        padding: 5px 10px;
        font-size: 2rem;
    }

    .songTitleResult {
        font-size: 3rem;
    }
}

@media (max-width: 950px) {
    .quiz {
        width: 100%;
    }

    .mainTitle h1 {
        font-size: 4rem;
    }

    .songTitleResult {
        font-size: 2.5rem;
        line-height: 3rem;
    }
}

@media (max-width: 775px) {

    .mainTitle h1 {
        font-size: 3rem;
        line-height: 3rem;
    }

    .mainTitle h2 {
        font-size: 1.6rem;
    }

    .main-carousel {
        flex-flow: row wrap;
        align-items: center;
    }
}

@media (max-width: 450px) {
    .questionImg {
        width: 250px;
    }

    .carousel-cell {
        height: 75px;
        width: 75px;  
    }
}

@media (max-height: 750px) {
    .questionImg {
        width: 200px;
    }

    .questionImg3 {
        width: 150px;
    }
}

@media (max-height: 600px) {
    .questionImg,
    .questionImg3 {
        display: none;
    }
}

@media (max-height: 500px) {
    .main-carousel,
    .carousel-cell {
        display: none;
    }
}

