@import "../partials/setup";
@import "../partials/variables";

/* GLOBAL STYLES */
html {
    font-size: 120%;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    background: #fff;
    font-family: 'Monda', sans-serif; 
    font-size: 1rem;
    line-height: 1.6rem;
}

ul,
h1,
h2,
h3 {
    font-family: 'Passion One', cursive;
    padding: 0;
}

h2 {
    font-size: 3.5rem;
    text-transform: uppercase;
}

h3 {
    font-size: 2.0rem;
    text-transform: capitalize;
}

img {
    width: 100%;
    object-fit: fill;
}

.wrapper {
    width: 1280px;
    margin: 0 auto;
}


section {
    height: 100vh;
}

main {
    padding: 40px 0 0;
}

/* HEADER STYLE */

.hero {
    background-image: url(../assets/header1.jpg);
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.spotifyContainer {
    position: fixed;
    top: 0;
    right: 0;
    background-color: #A40606;
    padding: 10px;
    transition: 0.8s ease;
    z-index: 999;
        &:hover {
                background-color: #1DB954;
            }
        a {
            text-decoration: none;
            color: #fff;
            text-transform: uppercase;
            font-size: .75rem;
            
        }
}

.mainTitle {
    color: #fff;
    font-size: 3rem;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center; 
    flex-direction: column; 
    text-align: center;  

    h1 {
        text-transform: uppercase;
        transition: all 1s;
        color: #fff;
        animation: neon 1.5s ease-in-out infinite alternate;
        &:hover {
            color: #A40606;
            -webkit-animation: none;
            -moz-animation: none;
            animation: none;
        }
    }
}

// @keyframes neon {
//     from {
//         text-shadow: 0 0 5px #fff, 0 0 0px #fff, 0 0 20px #fff, 0 0 30px #A40606, 0 0 60px #A40606, 0 0 70px #A40606, 0 0 80px #A40606;
//     }
//     to {
//         text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #A40606, 0 0 35px #A40606, 0 0 40px #A40606, 0 0 50px #A40606;
//     }
// }

.startQuizBtn {
    padding: 10px 40px;
    background-color: #A40606;
    color: white;
    border: none;
    border-radius: 20px;
    text-decoration: none;
    font-size: 2.5rem;
    &:hover {
        color: #A40606;
        background-color: white;
    }
}

/*  QUESTION STYLES */

.quiz {
    width: 60%;
    height: 90vh;
    margin: 0 auto;
    border: 9px solid #A40606;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fff;

    label {
        font-size: 1.2rem;
    }

    
}

.questionContainer {
    width: 100%;
}

.quiz1 {
    // background-color: #1f1f1f;
}

form {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.questionImg {
    margin: 0 auto;
}

.questionImg3 {
    width: 150px;
}


.submitButton {
    display: inline-block;
    border: 3px solid #A40606;
    background-color: #fff;
    width: 150px;
    color: #A40606;
    border-radius: 20px;
    text-transform: uppercase;
    transition: 0.3s ease;
    margin: 0 auto;
    
    &:hover {
        background-color: #A40606;
        color: #fff;
    }
}






// input[type=radio] +label::before {
//     content: '';
//     width: 1.2rem;
//     height: 1.2rem;
//     border: 5px solid #A40606;
//     border-radius: 50%;
//     display: inline-block;
//     margin-right: 10px;
//     margin-bottom: -5px;
// }


.questionImg {
    width: 400px;
    border-radius: 20px;
    object-fit: cover;
}

/* RESULT STYLE */

.result {
    background-image: url(../assets/results.jpg);
    height: 100vh;
    background-size: contain;
    color: #fff;
    padding: 50px 0;
}

.songTitleResult {
    font-size: 4rem;
    color: #fff;
    text-align: center;
}


/* FLICKITY STYLES */

.checkAlbum {
    text-align: center;
    font-size: 2rem;
}

.main-carousel {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.carousel-cell {
    width: calc(20% - 10px);
    margin: 5px;
    height: 200px;
    transition: 0.5s ease;

    &:hover {
        scale: (1.1);
        transform: translateY(-20px);
    } 
}


/* FOOTER STYLE */
footer {
    text-align: center;
    background-color: #A40606;
    color: #fff;

    p {
        margin: 0;
        padding: 0;
    }
}



// .quiz2,
// .quiz3,
// .quiz4,
// .quiz5 {
//     display: hidden;
//     transition: all 1s;
// }

/* MEDIA QUERIES */

@media (max-width: 1150px) {

    .wrapper {
        width: 100%;
    }

    h1 {
        font-size: 5rem;
    }

    .startQuizBtn {
        padding: 5px 10px;
        font-size: 2rem;
    }
}

@media (max-width: 950px) {
    .quiz {
        width: 100%;
    }

    .mainTitle h1 {
        font-size: 4rem;
    }
}

